<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.FacilityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.domain.Facility">
        <id column="id" property="id" />
        <result column="facility_type" property="facilityType" />
        <result column="activity_id" property="activityId" />
        <result column="max_capacity" property="maxCapacity" />
        <result column="timetable_id" property="timetableId" />
        <result column="image_id" property="imageId" />
        <result column="num_facility" property="numFacility" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, facility_type, activity_id, max_capacity, timetable_id, image_id, num_facility
    </sql>

</mapper>
